if SHIELD_ESPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "esplit"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if SHIELD_ESPLIT_LEFT || SHIELD_ESPLIT_RIGHT

config ZMK_SPLIT
    default y

endif